# Common files
hasgethr.h
hasrdtsc.h
int64.h
primegen.h
uint32.h
uint64.h

# Unix specific files
*.a
*.o
auto-ccld.sh
compile
eratspeed
find-systype
load
make-compile
make-load
make-makelib
makelib
primegaps
primegaps.0
primegen.0
primes
primes.0
primespeed
primespeed.0
systype

# Windows specific files
*.exe
*.lib
*.obj

# SCons specific files
.sconsign.dblite
.sconf_temp/
config.log
